@model IEnumerable<Blog>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class= "container">
    <h2>Blog List</h2>
    <br />
    <div class="row">
        <div class="col">

            @if (Model.Count() >0)
            {
                <table class="table table-bordered table-striped ">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>IsApproved</th>
                            <th>IsHome</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.BlogId</td>
                                <td>
                                    <img src="~/images/@item.Image" width="100" />
                                </td>
                                <td>@item.Title</td>
                                <td>@item.Date</td>
                                <td>@if (item.IsApproved)
                                    {
                                        <i class="fa-solid fa-check" aria-hidden="true"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-xmark" aria-hidden="false"></i>
                                    }
                                </td>
                                 <td>@if (item.IsHome)
                                    {
                                        <i class="fa-solid fa-check" aria-hidden="true"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-xmark" aria-hidden="false"></i>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" asp-controller="Blog" asp-action="Edit" asp-route-id="@item.BlogId">
                                        Düzenle
                                    </a> 
                                    <a class="btn btn-danger btn-sm" asp-controller="Blog" asp-action="Delete" asp-route-id="@item.BlogId">
                                        Sil
                                    </a> 
                                </td> 

                            </tr>

                        }


                    </tbody>


                </table>



            }
            else
            {
                <div class="alert alert-danger">
                    Blog Eklenmemiş!!!


                </div>

            }






        </div>
    </div>
</div>
